<%- include("_header") -%>

<h1>Update a record</h1>

<form action="/edit" method="post">
  <div class="form-horizontal">

    <%- include("_editor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Update" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/search">Cancel</a>
      </div>
    </div>
  </div>
</form>
<% if (type === "POST") { %>
  <% if (trans === "success") { %>
    <h2>Customer updated successfully</h2>
  <% } else { %>
    <h2>Error:</h2>
    <p><%= msg %></p>
  <% } %>
<% } %>

<%- include("_footer") -%>